---
import { SITE_CONFIG } from '../config';

interface Props {
  placeholder?: string;
}

const { placeholder = 'youremail@example.com' } = Astro.props;
---

{SITE_CONFIG.subscribers && (
<form method="post" action="/subscribe/" class="">
    <input class="confirm" type="hidden" name="confirm" />
    <input class="location" type="hidden" name="location" />
    <input class="referrer" type="hidden" name="referrer" />

    <div class="form-group">
        <input class="subscribe-email" type="email" name="email" placeholder={placeholder} required />
    </div>
    <button class="" type="submit" disabled={!SITE_CONFIG.subscribers}><span>Subscribe</span></button>
    <script is:inline>
      (function(g,h,o,s,t){
        const loc = h[o]('.location');
        const ref = h[o]('.referrer');
        if (loc) loc.value = loc.value || g.location.href;
        if (ref) ref.value = ref.value || h.referrer;
      })(window,document,'querySelector','value');
    </script>
</form>
)}
